{% extends 'base.html' %}
{% block title %}Список подій{% endblock %}

{% block content %}
<h2>Список подій</h2>

<div class="d-flex align-items-end gap-2 mb-3">
    {% if user.is_authenticated %}
    <a href="{% url 'event-create' %}" type="button" class="btn btn-outline-success">Створити подію</a>
    {% endif%}

    <form method="GET" class="d-flex align-items-end gap-2">
        {{ filter_form.as_p }}

        <button type="submit" class="btn btn-outline-primary">
            Фільтрувати
        </button>
    </form>
</div>

{% for event in events %}
    <div class="list-group my-2">
      <a href="{% url 'event-detail' event.pk %}" class="list-group-item list-group-item-action">{{ event.title }}
      <span class="badge rounded-pill text-bg-primary">{{ event.date }}</span>
      {% if user.is_authenticated %}
      <a href="{% url 'event-delete' event.pk %}" class="btn btn-secondary">Видалити</a>
      {% endif %}
      </a>
    </div>
{% endfor %}

<div class="row">
    <div class="col-12">
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number != page_num %}
            <li class="page-item" aria-current="page">
            {% else %}
            <li class="page-item activate" aria-current="page">
            {% endif%}
                <a class="page-link" href="?page={{ page_num}}" class="page-link">{{ page_num }}</a>
            </li>
            {% endfor%}
        </ul>
        </nav>
    </div>
</div>

{% endblock %}