{% extends 'base.html' %}
{% block title %}Список подій{% endblock %}

{% block content %}
<h2>Список подій</h2>

<div class="d-flex align-items-end gap-2 mb-3">
    <a href="{% url 'event-create' %}" type="button" class="btn btn-outline-success">Створити подію</a>

    <form method="GET" class="d-flex align-items-end gap-2">
        {{ filter_form.as_p }}

        <button type="submit" class="btn btn-outline-primary">
            Фільтрувати
        </button>
    </form>
</div>

{% for event in events %}
    <div class="list-group my-2">
      <a href="{% url 'event-detail' event.pk %}" class="list-group-item list-group-item-action">{{ event.title }}
      <span class="badge rounded-pill text-bg-primary">{{ event.date }}</span>
      <a href="{% url 'event-delete' event.pk %}" class="btn btn-secondary">Видалити</a>
      </a>
    </div>
{% endfor %}
{% endblock %}